/* CSS Document */

body {
	font-family:"Times New Roman", sans-serif;
	text-align: top;
	background-color: #000000;
	}
	
a.nav {
	font-size: 13px;
	text-decoration: none;
	vertical-align:middle;
	color: #E0E0E0;
	font-family:"Times New Roman", sans-serif;
}

a:visited {
	color: #999999;
}

a:hover {
	color:#E0E0E0;
	font-weight:bold;
	font-size:14px;
}

a.bcrumbs {
	font-size: 9px;
	text-decoration: none;
	color:#000000;
	font-family:"Tahoma", sans-serif;
}

#pagecontent {
	width:775px;
	min-height: 580px;
	height: auto;
	margin: 0 auto;
	background-color:#000000;
	position: relative;
}


#navigation {
	height: 20px;
	width:763px;
	float:right;
	text-align: right;
	padding: 5px;
	letter-spacing: 0.04cm;
	background-color: #000000 ;
	border: #FFFFFF 1px solid;
	
}

p.search {
	font-size: 14px;
	text-align: right;
	font-family:"Tahoma", sans-serif;
	color: #999999;
	letter-spacing: 0.03cm;
	margin: 0px;
	padding-top: 10px;
	}

input{
	border:  #CCCCCC 1px solid;
	font-family:"Tahoma", sans-serif;
	font-size: 12px;
	width: 94px;
	
}
	
#header {
	height:120px;
	width:773px;
	vertical-align: bottom; 
	text-align: left;
	border: none;
	background-color:#FFFFFF;
	padding-top: 5px;
	background-image: url(headerwhitefinal.png);
	background-position:right;
	background-repeat:no-repeat;
	border-right: #FFFFFF 2px solid;
}

#breadcrumbs {
	width:100%;
	text-align:left;
	padding-top: 5px;
	padding-left: 5px;
	font-size: 9px;
	font-family:"Tahoma", sans-serif;
	letter-spacing: 0.02cm;
	/* &raquo; shows >> */
}


h1,h2,h3 {
	font-size: 20px;
	margin-bottom: 10px;
	text-align:justify;
	font-family:"Times New Roman", sans-serif;
	letter-spacing: 0.02cm;
	color: #333333;
}

h4 {
	font-size: 14px;
	letter-spacing: 0.02cm;
	color: #333333;
	text-align: left;
	margin:0px;
}
	
h2:first-letter  {
	font-family:"Times New Roman", serif;
	font-size: 50px;
	color: #333333;
	margin-left: 50px;
	margin-right: -10px;
}


p {
	font-size: 14px;
	margin: 5px 20px;
	text-align: left;
	font-family:"Tahoma", sans-serif;
	color: #333333;
}
	
p.sidenav {
	font-size: 13px;
	margin: 6px 8px 10px 15px;
	text-align: left;
	font-family:"Tahoma", sans-serif;
	color: #333333;
	letter-spacing: 0.02cm;
	background-image:url(images/productline2.jpg);
	background-position:bottom;
	background-repeat:no-repeat;
}

p.sidenav:first-letter  {
	font-size: 16px;
}

#sidenav {
	width: 120px;
	min-height: 380px;
	height: auto;
	text-align: left;
	border-right:#996633 1px solid;
	background-color: /*#FFFFFF;*/ #E0E0E0;
	position: relative;
	float: left; 
	border: #FFFFFF 1px solid;
	border-left: #FFFFFF 1px solid;
	border-right:none;
	background-image:url(korubaseflip.png);
	background-position:center;
	background-repeat: repeat-y;
}

	
#content {
	width: 653px;
	min-height: 380px;
	text-align: left;
	border:  #FFFFFF 1px solid;
	border-left: none;
	background-color: /*#E0E0E0;*/ #FFFFFF;
	position: relative;
	float: left;
	background-image: url(korubaseflip4.png);
	background-repeat: repeat-y;
	background-position: right;
	
}

#footer {
	width: 773px;
	height: 30px;
	background-color: #000000;
	float:left ;
	border:  #FFFFFF 1px solid;
	border-top: none;
	/*background-image:url(korubaseflipside1.png);
	background-position: 47% ;
	background-repeat: no-repeat;*/

}

p.footer {
	font-size: 11px;
	text-decoration: none;
	color: #999999;
	letter-spacing: 0.02cm;
	padding-top: 4px;
	margin-left: 0px;
	text-align: right;
	font-family:"Times New Roman", sans-serif;
}

table.productstable {
	width:100%;
	text-decoration: none;
	font-family:"Tahoma", sans-serif;
	margin-left:auto;
	margin-right:auto;
}

td {
	width: 33%;
	vertical-align: top;
}

td.picbackground {
	background-color:#CCCCCC;
}


p.desc {
	font-size: 11px;
	text-align:left;
	background-color:#FFFFFF;
	margin: auto;
}