<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
{include file="common/formErrors.tpl"}
<form action="{url page="contactus" op="updateContactus"}" method="post" name="form1" id="form1">

Your e-mail:<br />
<input name="email" type="text" id="from"
	style="padding: 2px; border: 1px solid #CCCCCC; width: 180px; height: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;"
	value="{$email}" /> <br />
<br />

Subject:<br />
<input name="subject" type="text" id="subject"
	style="padding: 2px; border: 1px solid #CCCCCC; width: 180px; height: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;"
	value="{$subject}" /> <br />
<br />

Type verification image:<br />
<input name="captcha" type="text" id="verif_box"
	style="padding: 2px; border: 1px solid #CCCCCC; width: 180px; height: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;" />
<img src="{url page="captcha" op="display"}/{$rand_string}"
	alt="verification image, type it in the box" width="50" height="24"
	align="absbottom" /><br />
<br />

 Message:<br />
<textarea name="message" cols="6" rows="5" id="message"
	style="padding: 2px; border: 1px solid #CCCCCC; width: 300px; height: 100px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;">{$message}</textarea>

<input name="Submit" type="submit"
	style="margin-top: 10px; display: block; border: 1px solid #000000; width: 100px; height: 20px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; padding-left: 2px; padding-right: 2px; padding-top: 0px; padding-bottom: 2px; line-height: 14px; background-color: #EFEFEF;"
	value="Send Message" /></form>
</body>
</html>