<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<span class="thankstextcolor">Email sent. Thank you.<br />
<br />
Return to <a href="{$baseUrl}">home page</a> ? </span>
</body>
</html>