
        <TABLE width="100%">
            ~~~BeginItemsRecord~~~
            <TR>
                <TD>
                    ~~~ItemPubShortDate~~~ ~~~ItemPubShortTime~~~
                </TD>
            </TR>
            <TR>
                <TD>
                    <B><A href="~~~ItemLink~~~">~~~ItemTitle~~~</A></B>
                </TD>
            </TR>
            <TR>
                <TD>
                    ~~~ItemDescription~~~
                    <BR>
                </TD>
            </TR>
            ~~~EndItemsRecord~~~
        </TABLE>

