/* newzealandAtoZ.com style sheet */

/* Author: Amy Burton */
/* Date:   6 July 2005 */

/* HEADINGS */
h1, h3 {font-family: Impact;
		font-weight: 550;
	color: #000000}
	
h3 {font-size: 15pt;
	font-weight: 550}
	
h1 {text-align: center}

h4 {color: #000000;
   font-family: Verdana;
   font-size: 9pt;
   font-weight: 700}

body {background-color: #ffffff;
      margin: 20 0 0 0}
	  
hr {color:#000000; height:"1"}

/* PARAGRAPH */
p {color: #000000;
   font-family: Verdana;
   font-size: 9pt}
   
/* ARTICLE */
.article {color: #000000;
   	font-family: Arial;
   	font-size: 9pt;
   	background-color: #ffffff}
   
/* LITTLE LINE */
.line {color: #000000;
   	font-family: Verdana;
   	font-size: 6.5pt;
   	background-color: #B9BEC3;
	border-bottom: 1px solid #ffffff}

/* LOGO */
.logo {border-top: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
			background-color: #000000
       }
.middle {border-top: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff}
				
/* LEFT ADS */
.left {background-color: #B9BEC3}
   	
/* MAIN CONTENT */
.main {background-color: #B9BEC3;
		}
   	
/* RIGHT MENU */
.right {background-color: #0082AF;
		border-left: 2px solid #ffffff}

/* FOOTER */
.footer {background-color: #000000;
	 color: #ffffff;
	 border-top: 1px solid #ffffff}
	 
/* HEADING */
.pathhead {font-size: 15pt;
	   font-family: Impact;
	   font-weight: 550}

/* LIST */
ul {color: #000000;
    font-family: Verdana;
    font-size: 9pt;
    list-style-type: square}
	
ol {color: #000000;
    font-family: Verdana;
    font-size: 9pt}


/* LINK */
a.headlink {display: inline;
	   font-size: 15pt;
	   font-family: Impact;
	   font-weight: 550}
	   
a.menulink {display: inline;
	   font-size: 8pt;
	   font-family: Verdana;
	   color: #ffffff;
	   text-decoration: none}
a.menulink:hover {display: inline;
	   font-size: 8pt;
	   font-family: Verdana;
	   color: #0082AF;
	   text-decoration: underline}
	   
a.textlink {display: inline;
	   font-size: 9pt;
	   font-family: Verdana;
	   font-style: italic}
	   
	   
/* SIDE LINKS */
a.sidelinks	{
	display: inline;
	font-family: Verdana;
   color: #000000;
   font-size: 9pt;
   text-decoration: none}
   
a.sidelinks:hover	{
		display: inline;
	   font-size: 9pt;
	   font-family: Verdana;
	   color: #ffffff;
	   text-decoration: none}
	   


/* DEFAULT LINKS */
a {
	font-family: Verdana;
	color: #000000;
	font-size: 9pt;
	text-decoration: none
}

a:hover   {
	color: #ffffff;
	text-decoration: underline
}

