.title{
	width:100%; 
	font-family:Arial; 
	color:#5d5b44; 
	font-size:16pt; 
	line-height:17px; 
	padding-bottom:10px; 
	font-weight:bold; 
	padding-top:10px;
}

.body-main{
	width:100%; 
	font-family:Arial; 
	color:#5d5b44; 
	font-size:11pt; 
	line-height:17px; 
	text-align:justify}


#header-nav dl, #header-nav dd { float: left; list-style: none; margin: 0; padding: 0; }

#header-nav-tabs dd a {

	color: #4e4f30;
	display: block;
	font-size: 10pt;
	text-align: center;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	height:25px;
	text-decoration: none;
	font-family:arial;
	font-weight:bold;
	border-right:1px solid #dedede;
	float:left;

}


#header-nav-tabs dd a:hover, #header-nav-tabs dd#active a {
	background:url(/images/hover.gif) repeat-x;
	color: #b6b599;
	text-decoration: none;
	font-family:arial;
}

#header-nav-tabs dd#contact a, #header-nav-tabs dd#about a, #header-nav-tabs dd#clients a {
	color: #ffffff;
	display: block;
	font-size: 110%;
	font-weight: bold;
	line-height: 31px;
	text-align: center;
	width: 105px;
	font-family:arial;
}

#header-nav-tabs dd#contact a:hover, #header-nav-tabs dd#about a:hover, #header-nav-tabs dd#clients a:hover {
	background-color: #d52b47;
	color: #ffffff;
	text-decoration: none;
	font-family:arial;	
}

#header-nav-tabs dd#contact-active a, #header-nav-tabs dd#about-active a, #header-nav-tabs dd#clients-active a {
	background: url(/images//images/nava_dd_wider.gif) #E4F1DE no-repeat 0px -31px;
	color: #336600;
	display: block;
	font-size: 110%;
	font-weight: bold;
	line-height: 31px;
	text-align: center;
	width: 105px;
}

.bar-outer {
	text-align:center;
}

.bar-inner{
	width:980px; 
	margin:auto; 
	text-align:left;
	min-height:450px; 
	height:auto !important; 
	height:450px;
	border-bottom:1px solid #d6d4bc;
	padding-bottom:15px;	
	background:url(/images/ball.gif.png) no-repeat;
}

.footer{
	width:980px; 
	margin:auto; 
	text-align:center;
	font-family:Arial;
	font-size:10pt;
	color:#9b9b84;	
	padding-top:5px;
}

.logo{
	position:absolute; 
	background-color:#000000; 
	height:102px;
	}

.body-holder{
	width:100%;
}

.body-inner{
	height:67px; 
	padding-top:35px;
}

.bar{
	height:36px; 
	background:url(/images/bar.gif) repeat-x;
	width:100%;
	}
.fade{
	margin-left:201px; 
	float:left; 
	width:760px; 
	height:36px; 
	background-image:url(/images/fade.gif); 
	background-repeat:no-repeat;
}

.curve{
	float:right; 
	width:17px; 
	height:36px; 
	background-image:url(/images/curve-right.gif); 
	background-repeat:no-repeat;
	}
	
.copy-r{
	text-align:center;	
	}

.copy-r2{
	float:left;	
	}

.developed{
	float:right;
	}
	
.developed-link{
	color:#d7d4bd; 
	text-decoration:none;}
.menu-holder{
	position:relative; 
	padding-left:60px; 
	height:36px;
}
.bread{
	margin-left:220px; 
	font-family:Arial; 
	font-size:9pt; 
	color:#8e8e8e;
}

.thumbs {
	width:130px;
	height:130px;
	border: 1px solid #cccccc;
	cursor: pointer;
}

.thimp {
	padding-right:8px;
	padding-left:8px;
	float:left;
	padding-bottom:16px;	
}


.lesson-header{
	border:1px solid #cccccc; 
	border-right:0;
	font-size:9pt;
	padding:1px;
	text-align:center;
}

.lesson-header2{
	border:1px solid #cccccc;
	text-align:center;
	font-size:9pt;
	padding:1px;
}

.lesson-header3{
	border:1px solid #cccccc; 
	border-top:0; border-right:0;
	text-align:center;
	font-size:9pt;
	padding:1px;
}

.lesson-header4{
	border:1px solid #cccccc; 
	border-top:0;
	text-align:center;
	font-size:9pt;
	padding:1px;
}

.lesson-rep {
	background:url(/images/bar.gif) repeat-x;
}

	#distance { 
		width:1px;
		height:50%;
		margin-bottom:-146px; /* half of container's height */
		float:left;
		}

	#container {
		margin:0 auto;
		position:relative; /* puts container in front of distance */
		text-align:left;
		height:292px;
		width:435px;
		clear:left;
		background-image: url(/images/splash.jpg);
		background-repeat:no-repeat;
border:1px solid #cccccc; 
		}

.contact-us{
float: left; width: 680px
}

.contact-us-inner{
padding-right: 10px; text-align: justify;
}

.contact-image{
float: left; width: 300px;
}

.contact-image-inner{
border: 1px solid #cccccc; padding: 5px;
}

.about-outer{
float: left; width: 680px
}

.about-inner{
padding-right: 10px; text-align: justify;
}

.about-image{
float: left; width: 300px;
}

.about-image-inner{
border: 1px solid #cccccc; padding: 5px;
}

.table-size{
font-size: 10pt;
}

