/* GENERAL */
body {
/*	background-color: #E7EFF8; */
	background-color: #666666;
	margin: 0 0 0 40
}
p {color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9pt}
/*td { vertical-align: top } */
a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #2B793D;
	font-size: 9pt;
	text-decoration: none
}

a:hover   {
	color: #000000;
	text-decoration: underline
}

input{	
	background-color: #E8EBEF; border: 1px solid #B1BDC9; color: #000000; font-family: verdana, helvetica, sans-serif; font-size: 12px;
}

div.hr { height: 1px; border-bottom: 1px solid #D0D0BF; margin: 6px 0px 6px 0px; font-size: 0px }

textarea{	
	background-color: #E8EBEF; border: 1px solid #B1BDC9; color: #000000; font-family: verdana, helvetica, sans-serif; font-size: 12px;
}

div.menu_text { }

a.menu { display: block; text-decoration: none; padding-left: 4px; padding-right: 4px; padding-top: 4px; padding-bottom: 4px;color: #333; 
        font-weight: normal }
a.menu:hover { background-color: #8EA6CA; color: #ffffff; text-decoration: none; }
	/* #316AC5	blue*/
	/* #8EA6CA	lighter blue*/
	/* #C5B5A7 light brown*/
	/* #F1F1F1 light grey*/
	/* #CCCCCC grey*/
	/* #DACFC6 very light brown */

a.menu_left { display: block; text-decoration: none; padding-left: 4px; padding-right: 4px; padding-top: 4px; padding-bottom: 4px;color: #333; border-left: 1px solid #ffffff;
																						border-right: 1px solid #ffffff;
																						border-top: 1px solid #ffffff;
																						border-bottom: 1px solid #ffffff;
        font-weight: normal }
a.menu_left:hover { background-color: #F1F1F1; color: #000000; text-decoration: none; border-left: 1px solid #CCCCCC;
																						border-right: 1px solid #CCCCCC;
																						border-top: 1px solid #CCCCCC;
																						border-bottom: 1px solid #CCCCCC;}

h1 {color: #2B793D;
	font-size: 20pt;
	text-align: center;
	font-weight: 500}

h2 {color: #333366;
	font-size: 14pt;
	font-weight: 700}

h3 {color: #333366;
	font-size: 12pt;
	font-weight: 700}

.pathhead {font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9pt}

.shopping_cart_border {border: 1px solid #cccccc;
					}


/***********/


/* borders */
.maintable {
	border-top: 2px solid #cccccc;
	border-left: 2px solid #cccccc;
	border-right: 2px solid #cccccc;
	border-bottom: 2px solid #cccccc}
	
.headertable {background-color: #ffffff;
	border-bottom: 1px solid #cccccc}
	
.topmenutable {background-color: #E7EFF8;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc}
	
.bodytable {background-color: #ffffff;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc}
		
.leftmenutable {background-color: #ffffff;
	border-right: 2px solid #cccccc;
	height:100%;}

.footertable {background-color: #ffffff;
	 border-top: 1px solid #cccccc}
	 
.buttonborder {border-left: 2px solid #cccccc}

/***********/



/* news feeds */
.smallheading {color: #000000;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 9pt;
   font-weight: 700}
   
.innertableborder {
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #C5B5A7;
}

.menuborder {
	border: 1px solid #C5B5A7;
}
/***********/