
        <TABLE width="100%">
            ~~~BeginItemsRecord~~~
            <TR>
                <TD><font size="1">
                    ~~~ItemPubShortDate~~~ ~~~ItemPubShortTime~~~
                </font></TD>
            </TR>
            <TR>
                <TD>
                    <B><A href="~~~ItemLink~~~"><font color="#669933">~~~ItemTitle~~~</font></A></B>
                </TD>
            </TR>
        <!--    <TR>
                <TD><p>
                    ~~~ItemDescription~~~
                    </p><BR>
                </TD>
            </TR> -->
            ~~~EndItemsRecord~~~
        </TABLE>

