@CHARSET "UTF-8";
.staticContainer{
	position:fixed;
	height:100%;
	width:100%;
	text-align:center;
	display:table
}
.floatingCenteredCenteredColoumn{
	height:100%;
	width:700px;
	/*background:#000000;*/
	position:relative;
	margin:0pt auto;
	display:table-cell;
	vertical-align: middle;
}
.centerdCanvas{
	background:#FFFFFF;
	height:400px;
	width:600px;
	margin:0pt auto;
}