<html>
<body>
<font size=2>This email has been sent from an online form at www.yourcompany.co.nz</font>
<br>
<br>
<b>Message: </b>
<br>
#theMsg#
<br>
<br>
 <b>Name:</b> #theName#<br>
 <b> Email: </b>#theEmail#<br>
 </body>
 </html>